<header>
    <h1>{{ section.settings.title }}</h1>
    <img src="{{ section.settings.image | img_url: 'large' }}" alt="">
    <div>
        {{ canonical_url }}
        {% assign today_date = 'now' | date: '%s' %}
        <p>{{ today_date }}</p>
        {% for product in collections['creams'].products %}
            {{- product.title }}
            <p>{{ product.created_at }}</p>
        {% endfor %}
    </div>
</header>

{% schema %}
{
    "name": "header",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "test_section"
        },
        {
           "type": "image_picker",
           "id": "image",
           "label": "Header image"
        }
    ]
}
{% endschema %}
